body {
  font: normal normal 14px/1.0 verdana, sans-serif;
  background: #111;
  color: #eee;
  margin: 0;
  padding: 1em;
}

table {
  border-collapse: collapse;
  border: 1px solid #000;
}

th, td {
  padding: 6px;
  border-right: 1px dotted #000;
}

tr {
  border-top: 1px solid #000;
}

tr:nth-child(even) {
  background: #141414;
}

th, td:first-child {
  font-weight: bold;
  text-align: left;
}

.ok td:first-child { color: green; }
.fail  { color: red; }
.error { color: gold; }

.message {
  font-family: monaco, monospace;
  white-space: pre;
  line-height: 1.5;
  border-top-style: dotted;
}

