<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/application.css"/>
    <link rel="stylesheet" href="stylesheets/pygments.css"/>
  </head>
  <body>

    <section class="row" id="main">
      <aside class="small-3 columns" id="sidebar">
        <p>
          <strong>minitest.js</strong><br/>
          <small>JavaScript port of the Ruby gem</small>
        </p>

        <nav>
          <ul class="side-nav">
            <li class="divider"></li>
            <li><a href="index.html">Overview</a></li>
            <!--li><a href="documentation.html">Documentation</a></li-->
            <li class="divider"></li>
            <li><a href="https://github.com/ysbaddaden/minitest-js">View on Github</a></li>
            <li class="divider"></li>
          </ul>
        </nav>
      </aside>

      <div class="small-9 columns">
        <div class="row">
          <article class="large-12 columns" id="article">
            {{ content }}
          </article>
        </div>
      </div>
    </section>

    <footer id="footer">
      <p>
        <a href="https://github.com/seattlerb/minitest">minitest</a> is copyright &copy; Ryan Davis, seattle.rb<br/>
        minitest.js is copyright &copy; Julien Portalier
      </p>
    </footer>

    <script src="javascripts/application.js"></script>
  </body>
</html>
